# What is Pythin Language ?

## Python is a type of programming lang which we can use for communicating with computer or technology.

# Syntax For Python Language

syntax refers to the set of rules that defines combination of symbols that are considered to be correctly structured programme in a language.

# Semantics of Python Language

## Semantic of Plang refers to meaning or interpreataion of simplecharacters and command in lang, it is about what the code is supposed to do when in runs.

# Syntax Rules for the Python

Python is case sensitive.

In [45]:
Name='taher';
name='taher';
Name==name

True

In [46]:
Name='taher';
name='Taher';
Name==name

False

# Indentaion in Python

Just like in other programming lang we have {} brackets for grouping the statments in python we have Indentation (space).

In [47]:
age=int(input('entwr your age'))
if age > 18 :
        print ('you are allowed')

you are allowed

In [48]:
age=int(input('entwr your age'))
if age > 18 :
print ('you are allowed')

IndentationError: expected an indented block after 'if' statement on line 2 (1806654681.py, line 3)

# in python we can use \ backslash for the line continuation even though you move to the next line.

In [ ]:
1+2+3+4+5+6+7

28

In [ ]:
2+3+4+5+6+7+\
 8+9

44

# Semicolon ; can be used to write multiple statement in single line.

In [ ]:
a=2 ; b=3 ;c=3

In [ ]:
a=1  b=3

In [ ]:
# this is a first comment of my pythin coding

In [ ]:

#Mutiline comment is as mentioned below;

'''
ArithmeticError 

''' 
print("hi")

hi

In [ ]:
#Typesof the varable and retrive types of variable using type() function

name='taher'
age=33
height=6.1
is_handsome=True

In [ ]:
print(type(name)) ; print(type(age)) ; print(type(height)) ; print(type(is_handsome))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
#how to change the type of the variable like from the int to string its called 

age=(str(age))

print(type(age))

<class 'str'>

In [51]:
#take the variable values as a user input using the input() funcction.

name=input("entername :")

print(name)

taher

In [ ]:
#default it will take string 
age1=23
print(type(age1))
#Explicitly defining the variable types
age=int('23')
print(type(age))

print(age)

<class 'int'>
<class 'int'>
23

In [50]:

#simple two value calculater

value1 = float(input("Enter value 1: "))
value2 = float(input("Enter value 2: "))
print("The addition of the values is:", value1 + value2)
print("The substraction of the value is", value1 - value2)
print("the multiplication of the value is", value1 * value2)

The addition of the values is: 10.0
The substraction of the value is 0.0
the multiplication of the value is 25.0

# Data types in Python

## in python the data types of the values is decided by default by compiler.

# There are 4 main data types in the Pytin

## str   String Which can store the numeric and character and special character
## int   Integrer can only stor the numeric value
## bool  Boolen can only store 1 (true) or 0 9(false)
## float Float can only store the numbers with decimal  like 11.3

In [62]:
#like in the sql and other programmin lang you have to define the datatypes of the variable in the syntax, thats not the case in the python 
# python will automatically define the datatypes for the variables by smartly identifying the value of the variable.
  
a='taher' 
print(type(a))

<class 'str'>

In [63]:
a=1
print(type(a))

<class 'int'>

In [64]:
a=True
print(type(a))

<class 'bool'>

In [65]:
a=11.23
print(type(a))

<class 'float'>

In [68]:
# The things we need to make sure for the operators is a below,

#string operater 
a=12; b='a'
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [70]:
#Hence we need to keep both of the variabes datatypes same in oreder operator to work like below

c=1; d=3
print(c+d)

4

In [ ]:
#no lets keep the both of the variable string and try the concat operator
#when you define the variable value with single quoate it consider it as a string.
a='a'
b='1'
print(a+b)

a1

# Operators in the Python

There are 3 types of operators in pythin same as any pther programming lang.

'''

1)Arithmatic operator
    addition 
    substraction
    multiplication
    module
    floor
    exponenet


                    '''

2)Comparision Operator
    greater than  >
    less than     <
    equal         == 
    greter that or equal to   >=
     less tahn or equal to    <=
    not equal to              !=


3)Logical operators
    and   what of both condition are true or not
    or    whetrher if any condition /operation is true
        not   negation or inverse the result of the operation

# Examples of the operators

In [2]:
#Arithmatic operation addidtion.
a=1
b=2
print(a+b)

3

In [3]:
#Arithmatic operator Substarction
a=2
b=1
print(a-b)

1

In [4]:
#Arithmatic operator division

a=10
b=5
print(a/b)

2.0

In [ ]:
#Arthmatic operator module %  this will print the value which stays after the dividision Quotient = 2 Remainder = 1  hence here we are getting the reminder using the module operator.

a=15
b=7
print(a%b)

1

In [ ]:
#Arithmatic operator floor it will give you the Quotient of the division operation.

a=15
b=6
print(a//b)

2

In [19]:
#Aritmatic oeprator exponent , okay let me give you an example  
a=2
b=3
print(a**b)     # 2*2*2
c=3
d=7
print(d**c)   # 7*7*7

8
343

# Comparision Operators

In [21]:
# Greater than 
a=5
b=6
print(a>b)

False

In [22]:
#less than
a=5
b=7
print(a<b)

True

In [26]:
#greater than or equal to

a=5
b=5
print(a>=b)

True

In [27]:
#lessthan or equalt to 

a=4
b=8
print(a<=b)

True

In [ ]:
#double equal  , it will check if the both of the value is same or not if same it will give true or eals false
a=4
b=5
print(a==b)

False

In [ ]:
#not equal to  if the values are not equalt to each other than returnt the true or else yes 

a=7
b=9
print(a!=b)

True