In [21]:
Employee = ["Taher","jamila","hasan","hushain","zainab"]

print(Employee)

['Taher', 'jamila', 'hasan', 'hushain', 'zainab']

In [22]:
# Accessing elements (Indexing)
# To print the particular values from the list.
#The list is a indexed structure , and the index is in a numeric order starting from the 0
#index is as  0         1      2         3         4
Employee = ["Taher","jamila","hasan","hushain","zainab"]
#we passhere 1 in sqare bracket it means that the that iot should print the 2nd value from the list , to print first valur we need to pass the 0
print("The values stored on index 1 is",Employee [1])
print("The value stored on index 0 is :",Employee [0])

The values stored on index 1 is jamila
The value stored on index 0 is : Taher

In [ ]:
#Lets understand the slicing of the list 

#index is as  0         1      2         3      4 or-1
Employee = ["Taher","jamila","hasan","hushain","zainab"]
#             -5      -4      -3       -2         -1
#above minus numbers are the negative indexing of the list

# When you want to print the values from the list in a range like you only want to print the value from index 1 to index 4                     4+  1
#you need to pass the nextvalue of the index like if you want to print untill index no 3 then in the print sattement you need to pass the 4 (index+1)
print(Employee[1:4])

#Take elements from the beginning (0) up to index 3 (not included)
# When start is empty → Python assumes 0 to 3(value on index 3 is not included)
print("If we dont specify the value pythn assumes 0",Employee[:3])

#when you want to print the LAST value FROM THE LIST
print("Last value of the list using -1",Employee[-1])

#Slicing formula (very important)
#list[start : end : step]

#in below example the list start value is 0 and end value is 0 and step -1 this indicate the reverse of the liste
print("Print the list in reverse",Employee[4:-1])

#Every secon employee
print("Every second employee from the list are :",Employee[::2])

#From 3rd last to 2nd last
#-1 means → last element, BUT slicing does not include the end index so no zainab
#“Start at hasan, go forward, and stop before zainab”
print("Print 3rd last to 2nd last",Employee[-3:-1])

['jamila', 'hasan', 'hushain']
If we dont specify the value pythn assumes 0 ['Taher', 'jamila', 'hasan']
Last value of the list using -1 zainab
Print the list in reverse []
Every second employee from the list are : ['Taher', 'hasan', 'zainab']
Print 3rd last to 2nd last ['hasan', 'hushain']

In [11]:
#index is as  0         1      2         3         4
Emp =     ["Taher","jamila","hasan","hushain","zainab"]


print(Emp[:])

print(Emp[-3:-1])

print(Emp[::-1])

['Taher', 'jamila', 'hasan', 'hushain', 'zainab']
['hasan', 'hushain']
['zainab', 'hushain', 'hasan', 'jamila', 'Taher']

# 1. append() --> insert the value at the end of the list
# 2. insert() --> insert the value at a specific index location inside our list
# 3. remove() --> remove the value from our list that we are going to pass inside it
# 4. pop() --> remove the value from the list at a specific index location
# 5. index() --> it provides the index of the value that we are going to pass inside index function , if that value is present inside that list, sysntax:- list.index(value, start=0, end=len(list))
# 6. sort() --> it is going to help us out with sorting the values in a ascending manner sysntax:-   list.sort(key=None, reverse=False)
# 7. reverse() --> it can reverse the values present inside our list i.e., value at last index will be at first index now
# 8. count() --> it counts the number of occurence of a specific value that we are going to pass inside our list and it returns that count of occurence
# 9. clear() --> for removing all of the values that we are storing inside our list
# 10. enumerate() --> helps us with getting the index value along with the actual value in a combination that we are storing inside the list
# 11. len() --> length of the list, it returns the total number of items we are storing inside the list

In [4]:
#append function syntax + example, it has one parameter and it is the value you want to add in the listr
#it always add the value at the last in the list
#append(value)

lists=[1,2,3,4,5,6]
lists.append(7)
lists

[1, 2, 3, 4, 5, 6, 7]

In [6]:
#insert the valuses in the list , it has two parameter the 1st paramter 1)index_number 2)value you want to store
#you can add the values anywhere in the list
lists=['a','c','d','e','f']
lists.insert(1,'b')
lists

['a', 'b', 'c', 'd', 'e', 'f']

In [8]:
#remove the values from the list, it has one parameter andit is the value which you want to remove.
#if the list has two same value , it will only remove the 1st occurence of the value
lists=['A','B','C','D','d','E','d']
lists.remove('d')
lists

['A', 'B', 'C', 'D', 'E', 'd']

In [9]:
#pop to remove the values from the particular index , it has one parameter index number

lists=[1,2,3,'a',4,5,6]
lists.pop(3)
lists

[1, 2, 3, 4, 5, 6]

In [14]:
#to find the index value for the particular value, if that value is avaiable in the list.
lists=['a','b','c','d','e','f']
x=lists.index('b')
y=lists.index('d')
print(x)
print(y)

1
3

In [ ]:
#To sort the values of th elist in the acsending order it has 3 parameter , 1)listname 2)key 3)reverse=true
#parameter 1 key → HOW to compare
#parameter 2 reverse → WHICH direction
#parameter sort() → modifies original list
lists=['a','b','c','d','e','f']
a= sort(lists[])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3411768774.py, line 4)